In [7]:
def evenNum(n):
    e=[]
    for i in range(0,n*2):
        if i%2==0:
            e.append(i)
    return f"Even numbers for first {n} is {e}"
n=int(input())
res=evenNum(n)
print(res)

 10

Even numbers for first 10 is [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
def oddNum(n):
    o=[]
    for i in range(0,n*2):
        if i%2!=0:
            o.append(i)
    return f"Odd numbers for first {n} is {o}"
n=int(input())
res=oddNum(n)
print(res)

 10

Odd numbers for first 10 is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
def first_n_even(n):
    l=[]
    for i in range(n):
        l.append(2*i)
    return l
res=first_n_even(10)
print(res)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
def first_n_even(n):
    l=[]
    for i in range(n):
        l.append(2*i+1)
    return l
res=first_n_even(10)
print(res)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
def first_n_even(n):
    l=[]
    s=0
    for i in range(n):
        l.append(2*i+1)
        s+=2*i+1
    return s,l
s,l=first_n_even(10)
print(s)
print(l)
print(*l)

100
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
1 3 5 7 9 11 13 15 17 19

# Built in Functions
-The functions are provided by python,without implementation and without importing from other modules.
1.len()
2.min()
3.max()
4.sum()
5.print()
6.input()
7.map()
8.filter()
9.ord()
10.chr()
11.enumerate()
12.abs()
13.reversed()
14.zip()
15.any()
16.all()

In [8]:
#len()-It returns the number of elements in the list
l=[1,2,3,4,5]
print(len(l))

5

In [9]:
#min()-It returns the minimum element in the list
print(min(l))

1

In [10]:
#max()-It returns the maximum element in the list
print(max(l))

5

In [11]:
#sum()-It returns the sum of elements in the list.
print(sum(l))

15

In [12]:
#print()-It is used to display the original information 
print(l)

[1, 2, 3, 4, 5]

In [13]:
#input()-It is used to give the inputs from the user
n=int(input())
print(n)

 10

10

In [16]:
#map()-It apply the function on each element in the sequence
def add(x):
    return x+5
l=[1,2,3,4,5]
list(map(add,l))

[6, 7, 8, 9, 10]

In [18]:
def add(x):
    return x+5
l=[1,2,3,4,5]
tuple(map(add,l))

(6, 7, 8, 9, 10)

In [22]:
def add(x):
    if x%2==0:
        return x
l=[1,2,3,4,5]
list(map(add,l))

[None, 2, None, 4, None]

In [23]:
#filter()-The filter() in python is used to pick only th  item that meets the condition from the list or other collection.
def add(x):
    if x%2==0:
        return x
l=[1,2,3,4,5]
tuple(filter(add,l))

(2, 4)

In [26]:
#ord()-It returns the ASCII value
print(ord('A'))
print(ord('a'))
print(ord('Z'))
print(ord('z'))
#print(ord('ab'))

65
97
90
122

In [27]:
#chr()-It converts number to character conversion
print(chr(65))
print(chr(97))
print(chr(90))
print(chr(122))

A
a
Z
z

In [30]:
#enumerate()-It return the list of tuple index and value pairs
l=['a','b','c','d','e']
print(enumerate(l))
print(list(enumerate(l)))

<enumerate object at 0x000002884F54E520>
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [31]:
l=['a','b','c','d']
for ind,val in enumerate(l):
    print(ind,val)

0 a
1 b
2 c
3 d

In [32]:
#abs()-It returns the absolute difference between two numbers.
a,b=5,10
print(abs(a-b))

5

In [3]:
#reversed()-It returns the reverse values of sequence
res=reversed([1,2,3])
print(res)
print(list(res))

<list_reverseiterator object at 0x000001C0331400D0>
[3, 2, 1]
()

In [5]:
res=reversed('Codegnan')
print(res)
print(list(res))

<reversed object at 0x000001C033140280>
['n', 'a', 'n', 'g', 'e', 'd', 'o', 'C']

In [25]:
#zip()-It returns the list of tuple values
l1=[1,2,3,4,5]
l2=['a','b','c','d','e']
l3=[10,20,30,40,50]
l3=[1,2,3]
print(zip(l1))
print(list(zip(l1,l2)))
print(list(zip(l1,l2,l3)))

<zip object at 0x000001C033731380>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]
[(1, 'a', 1), (2, 'b', 2), (3, 'c', 3)]

In [18]:
#any()-It returns true,when any one element from sequence are truthy.
print(any([1,2,3,4]))
print(any([0,1,2,32]))
print(any([0,0,0]))

True
True
False

In [21]:
#all()-It returns true when all sequence elements are truthy.
print(all([1,2,3]))
print(all([1,2,3,4,0]))
print(all([1,'abc',3,4]))

True
False
True